/* play-regular - latin-ext_greek_latin 
	@import url( https://fonts.googleapis.com/css?family=Play );
*/
@font-face {
	font-family: "Play";
	font-style: normal;
	font-weight: 400;
	src: local('Play Regular'), local('Play-Regular'),
	url('fonts/play.woff2') format('woff2'); /* Super Modern Browsers */
}

h1 {
    font-size: 1.4em;
}

center {
    width: 500px;
    max-width: 100%;
    margin: 2px auto;
}

/*
	https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sidenav 
	w3schools colors Names https://www.w3schools.com/colors/colors_names.asp
*/

/*menu styling*/
html {
	box-sizing: border-box;
	/* overflow: hidden; */
}

*, *:before, *:after { box-sizing: inherit; }

body {
	background-color: #000;
	font-family:  'Play',  system-ui, sans-serif; 
	background-image: url("img/MyLogo.webp");
	background-repeat: no-repeat;
	/* background-position: left bottom; */
	background-position: 0.5% 99%;
	background-attachment: fixed;
	color: #d5d5d5;
}

.container {
	position: relative;
	overflow-x: hidden;
	height: 100%;
	width: 100%;
}

/* Main */
.main {
	height: 100%;
	position: relative;
	transition-property: transform;
}

.content { margin: 50px 50px; }


/* Sidebar */
.sidebar {
	/* font-size: 1.5em; */
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	height: 100%;
	width: 100px;
	background: #121212;
	border-right: 3px solid #0f1114;
	overflow: hidden;
	-webkit-transform: translate3d(-100px, 0, 0);
	transform: translate3d(-100px, 0, 0);
	transition-property: transform;
}

.sidebar, .sidebar a { color: #ccc; }

.sidebar a.active {
	display: block;
	padding: 15px 40px;
	text-decoration: none;
	background-color: #444;
}

.nav { margin-top: 72px; }

.nav-items {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-title {
	display: block;
	padding: 15px 50px;
	font-size: 1.6em;
	font-weight: 700;
	color: #eee;
}

.nav-link {
	display: block;
	padding: 15px 22px;
	text-decoration: none;
	transition: background-color 0.4s ease;
}

.nav-link:hover { background-color: #3c3c3c; 
	display: block;
	padding: 15px 40px;
}

.sidebar-separator {
	margin: 10px;
	height: 2px;
	background-color: #444;
	border-bottom: 1px solid #000;
}

/* menubutton Icon */
.menubutton {
	display: block;
	position: fixed;
	left: 15px;
	top: 15px;
	cursor: pointer;
	z-index: 10;
	border-radius: 6px;
	background-color: #000;
	border: 2px solid #222; 
	padding: 5px 7px;
	width: 45px;
	height: 37px;
	transition-property: background-color, border-color;
}

.bar {
	display: block;
	position: relative;
	background-color: #222;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	margin: 0 auto; 
	transition-property: transform, opacity, background-color, width;
}

.bar:first-child { top: 0; }
.bar:nth-child(2) { opacity: 1; }
.bar:last-child { bottom: 0; }
.menubutton:hover { border-color: #fff; }
.menubutton:hover .bar { background-color: #fff; }
.bar + .bar { margin-top: 5px; }


/* Animation */
.main, .sidebar, .menubutton, .bar {
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

/* Show Sidebar  */
.show-sidebar .main {
	-webkit-transform: translate3d(130px, 0, 0);
	transform: translate3d(130px, 0, 0);
}

.show-sidebar .sidebar {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.show-sidebar .menubutton {
	background-color: #400;
	border-color: #888;
}

.show-sidebar .bar { background-color: #bbb; }

.show-sidebar .bar:first-child {
	width: 120%;
	-webkit-transform: rotate(45deg) translate(5px, 8px);
	transform: rotate(45deg) translate(5px, 8px);
}

.show-sidebar .bar:nth-child(2) { opacity: 0; }

.show-sidebar .bar:last-child {
	width: 120%;
	-webkit-transform: rotate(-45deg) translate(4px, -8px);
	transform: rotate(-45deg) translate(4px, -8px);
}

